#content.homepage
  .row
    .col-md-offset-2.col-md-8
      %p Per accedere a questo sito è necessario prima effettuare il login sul portale 
      = link_to 'Investment Banking', sign_in_path
      