<div id="content" class="pageWrapper">
  <div class="extendWrapper">
             <div class="container">
                <div class="row">
                    
                    <div class="col-md-12">
                        
                        <div id="Loading" style="opacity: 0;">
                            <div class="spinner">
                              <div class="rect1"></div>
                              <div class="rect2"></div>
                              <div class="rect3"></div>
                              <div class="rect4"></div>
                              <div class="rect5"></div>
                            </div> 
                        </div>
                    
                        <div id="now"></div> 
                        <div id="House" style="width: 100%; overflow: auto; height: 162px;">
                            
    <div class="piano">
        <img src="/assets/flor-last.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">  
            <span class="chart"># 1</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">13800</span>           
            <span class="triangle up"> 2 </span>           
            <span class="circle green"></span>           
            <span class="circle green"></span>           
            <span class="circle green"></span>           
            <span class="circle green"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 2</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle green"></span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 3</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 4</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 5</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 6</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle up">  2 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 7</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 8</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 9</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle up">  4 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 10</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 11</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 12</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle yellow"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 13</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle up">  6 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 14</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 15</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 16</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 17</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>
        </div>
    </div>                                               
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 18</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">11000</span>           
            <span class="triangle down">  1 </span>           
            <span class="circle red"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle yellow"></span>
        </div>
    </div>
                            
                            
                            
    <div class="piano">
        <img src="/assets/flor.png" class="imgResp">
        <div class="posizione" style="top: 112.5px;">           
            <span class="chart"># 19</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">1450</span>           
            <span class="triangle up"> + 2</span>           
            <span class="circle red"></span>           
            <span class="circle red"></span>           
            <span class="circle green"></span>           
            <span class="circle red"></span>
        </div>
    </div>
    <div class="piano current-last">
        <img src="/assets/flor-first.png" class="imgResp">
        <div class="posizione lastpos" style="top: 112.5px;">           
            <span class="chart"># 20</span> 
            <span class="user">Nome Cognome</span> 
            <span class="score">1280</span>           
            <span class="triangle down"> 4 </span>           
            <span class="circle red"></span>           
            <span class="circle red"></span>           
            <span class="circle red"></span>           
            <span class="circle red"></span>
        </div>
    </div>
  </div>
                        <div id="Bottom"></div>     
                        <!-- /div -->
                    
                    </div>
                </div>    
             </div> 
            
            
            
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#">download classifica in PDF</a>
                        <p>*Questo mese ti sei posizionato al XX posto. <a href="#">Scarica il PDF per la classifica totale</a> <small>*(solo per copnsulenti finanziari)</small></p>
                        <p><small>La classifica è aggiornata al xx/xx/2017</small></p>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">
             
    $(document).ready(function() {   
          
        //alert('ready');
                   
    });
    
    $(document).ready(function() {   
        $('#Loading').fadeTo( "slow", 0.00 );
        //alert('loaded');
        
        var brwH = $( window ).height();
        $('#House').height(brwH - 225);
        
        var wrapper = $('#House'),
        element = wrapper.find('.piano'),
        lastElement = wrapper.find('.piano:last-child'),
        lastElementTop = lastElement.position().top,
        elementsHeight = element.outerHeight(),
        scrollAmount = lastElementTop - 2 * elementsHeight + 150;
        
        /* positioning the viewport-house at the bottom */
        $('#House').animate({
            scrollTop: scrollAmount
        }, 1, function() {
            lastElement.addClass('current-last');
        });
        
        /* scrolling to the topo with delay */
        $('#House').delay(700).animate({
            scrollTop: - scrollAmount
        }, 5000, function() {
            lastElement.addClass('current-last');
        });
        
        
        /* calculate the info top position*/ 
        var infoH = $('.posizione.lastpos').height() / 2;
        var pianoH = $('.piano').height() / 2;
        var newPosition =  pianoH - infoH + "px";     
        $('.posizione').css('top', newPosition);
    });   
</script>