<div id="content" class="pageWrapper">
<div class="container">
                <div class="row">
                    
                    <div class="col-md-12">
                        <h1>Regolamento</h1>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In elementum venenatis diam, sit amet aliquet est mollis volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent mollis posuere tellus, sit amet dapibus dolor euismod non. In posuere ac tortor et sodales. Quisque hendrerit nulla mauris. Aliquam pretium nisl a tortor porttitor, vitae ultricies enim tincidunt. Fusce molestie dapibus magna id congue. Nam maximus, nibh quis laoreet dictum, turpis quam elementum justo, in fermentum velit orci nec nulla. Suspendisse potenti. Donec ut aliquet ipsum, vel rhoncus leo.</p>

                        
                        <ol> 
                            <li>Nunc gravida augue nisi, a pharetra enim ultrices in. Sed vitae enim mattis, consequat eros vitae, egestas lectus. Ut vitae turpis posuere, cursus quam et, posuere lacus. Cras ut ante placerat, hendrerit sem quis, consequat dui. Aenean dolor turpis, tempus sit amet lorem quis, pellentesque vestibulum nibh. Integer maximus mattis felis, eu condimentum diam luctus quis. In sit amet eros in erat gravida dictum eget ut nibh. Maecenas id turpis mollis, luctus ligula eget, varius tellus. Pellentesque risus metus, pharetra nec blandit ac, eleifend sed nunc. Suspendisse rutrum magna eu elementum euismod. Fusce commodo suscipit ligula, vel aliquet dolor euismod sed. Aliquam porttitor dictum tincidunt. Morbi lacinia augue purus, et tincidunt nibh pulvinar sed. Sed nec sodales est. Donec vulputate lobortis arcu id tempor.</li>
                            
                            
                        
                            <li>Praesent purus metus, tristique a velit condimentum, mattis tempor nisl. Donec purus arcu, molestie et urna eu, faucibus laoreet ex. Vestibulum scelerisque faucibus luctus. Etiam eleifend nisl quis felis ultrices ornare. Ut tristique elit vel quam convallis, nec tincidunt eros tincidunt. Fusce id neque mi. Nulla lobortis velit consectetur eleifend blandit.</li>
                            
                            <li>Sed quam dolor, viverra ut lacinia ultrices, blandit sit amet dui. Mauris pellentesque mauris quis tortor dignissim vestibulum. Donec porttitor mattis nibh non suscipit. Pellentesque enim urna, consectetur aliquet finibus id, tempus posuere massa. Quisque at odio vel velit fermentum rutrum. In hac habitasse platea dictumst. Integer sed enim eu tortor ornare congue sit amet sit amet sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque sagittis diam efficitur placerat venenatis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque bibendum, purus nec auctor tincidunt, orci lacus consectetur tortor, et mollis lacus sapien et risus. Nulla maximus vitae metus at pulvinar.</li> 
                            <li>Integer maximus mattis felis, eu condimentum diam luctus quis. In sit amet eros in erat gravida dictum eget ut nibh. Maecenas id turpis mollis, luctus ligula eget, varius tellus. Pellentesque risus metus, pharetra nec blandit ac, eleifend sed nunc. Suspendisse rutrum magna eu elementum euismod. Fusce commodo suscipit ligula, vel aliquet dolor euismod sed. Aliquam porttitor dictum tincidunt. Morbi lacinia augue purus, et tincidunt nibh pulvinar sed. Sed nec sodales est. Donec vulputate lobortis arcu id tempor.</li>
                            
                            
                        
                            <li> Etiam eleifend nisl quis felis ultrices ornare. Ut tristique elit vel quam convallis, nec tincidunt eros tincidunt. Fusce id neque mi. Nulla lobortis velit consectetur eleifend blandit.</li>
                            
                            <li> Quisque sagittis diam efficitur placerat venenatis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque bibendum, purus nec auctor tincidunt, orci lacus consectetur tortor, et mollis lacus sapien et risus. Nulla maximus vitae metus at pulvinar.</li>
                        </ol>


                        <p>Pellentesque risus metus, pharetra nec blandit ac, eleifend sed nunc. Suspendisse rutrum magna eu elementum euismod. Fusce commodo suscipit ligula, vel aliquet dolor euismod sed. Aliquam porttitor dictum tincidunt. Morbi lacinia augue purus, et tincidunt nibh pulvinar sed.</p>
                   
                    
                    </div>
                </div>    
            
        </div>