<div id="content">    
  <div class="container theme-showcase" role="main">
    <div class="jumbotron text-center">
      <h1>TOKYO</h1>
    </div>
      <div class="row city">
        <div class="col-md-6">
          <section>
          <h2>Un po' di storia</h2>
          <p>Quisque auctor nunc at tortor semper mollis. Duis vulputate purus ut ipsum consequat lobortis non quis lectus. Nulla facilisi. Suspendisse feugiat ut lorem euismod lacinia. Quisque tempus id orci ac egestas. Proin lobortis luctus nunc non tincidunt. Quisque vestibulum commodo magna sit amet scelerisque. Fusce sed elit mattis, pellentesque dui ac, commodo ex. Curabitur rutrum, ipsum ac vulputate ornare, lorem purus auctor risus, id imperdiet urna eros sed dui. Mauris tincidunt, eros aliquam consequat elementum, mi metus accumsan libero, sed sagittis velit nunc et dui.</p>
          </section>
          
          <section>
          <h2>Cosa fare</h2>
          <p>Cras rhoncus auctor erat eget lacinia. Praesent sodales nec urna vel rhoncus. Curabitur in tempus risus. Nunc tempus est sem, eu tristique felis dapibus vitae. Aenean porta tortor quis mollis faucibus. Donec vel felis sapien. Duis odio nunc, fermentum sit amet placerat et, molestie sed arcu. Donec sem velit, venenatis vitae urna lacinia, suscipit convallis turpis. Nunc sagittis eleifend nunc, vel tincidunt magna tincidunt auctor. Nunc feugiat, sem quis porttitor aliquet, nisi velit facilisis mi, tristique efficitur ante metus vel est. Nullam non elit augue.</p>
          </section>
          
          <section>
          <p>Cras pharetra bibendum metus, at finibus purus vulputate eu. Proin blandit eget nisl quis ornare. Aenean vel malesuada magna. Vivamus dolor est, malesuada nec lectus eget, vehicula sodales ipsum. Phasellus nec imperdiet ligula. In mollis elit eu suscipit gravida. Phasellus risus sem, ultricies ut malesuada vitae, convallis a arcu.</p>
          </section>
        </div>
          <div class="col-md-6">
            <h2>Updates</h2>
            <div class="list-group">
              <a href="#" class="list-group-item active">
              <img src="/assets/default-avatar.png" class="img-thumbnail">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text small">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              </a>
                <div style="clear:both"></div> 
                <a href="#" class="list-group-item">
                  <img src="/assets/default-avatar.png" class="img-thumbnail">
                  <h4 class="list-group-item-heading">List group item heading</h4>
                  <p class="list-group-item-text small">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <div style="clear:both"></div> 
                <a href="#" class="list-group-item">
                    <img src="/assets/default-avatar.png" class="img-thumbnail">
                  <h4 class="list-group-item-heading">List group item heading</h4>
                  <p class="list-group-item-text small">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <div style="clear:both"></div> 
                <a href="#" class="list-group-item">
                    <img src="/assets/default-avatar.png" class="img-thumbnail">
                  <h4 class="list-group-item-heading">List group item heading</h4>
                  <p class="list-group-item-text small">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <div style="clear:both"></div> 
                <a href="#" class="list-group-item">
                    <img src="/assets/default-avatar.png" class="img-thumbnail">
                  <h4 class="list-group-item-heading">List group item heading</h4>
                  <p class="list-group-item-text small">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <div style="clear:both"></div> 
              </div>
            </div>
        </div>             
  </div>
</div>