#heroimage{:style => "display:table;"}
  #CoverMsg.container.theme-showcase{:style => "display: table-cell; text-align: center; vertical-align: middle; opacity: 0;"}
    / Main jumbotron for a primary marketing message or call to action
    .jumbotron.text-center
      %h1 TO THE TOP
      %p Pensare in grande.
      %p Puntare sempre più in alto.