<div id="heroimage" style="display:table;">    
     <div class="container theme-showcase" id="CoverMsg" style="display: table-cell; text-align: center; vertical-align: middle; opacity: 0;">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron text-center">
      <h1>TO THE TOP</h1>
      <p>Pensare in grande.</p>
      <p>Puntare sempre più in alto.</p>
    </div>  
  </div>    
</div>