<footer>      
  <div class="extendWrapper loghi">
      <div class="container">
          <div class="row">
              <div class="col-md-12"><small>In collaborazione con:</small><br>
                  <img src="/assets/Pictet.png" alt="Pictet">
                  <img src="/assets/Alessia.png" alt="Alessia">
                  <img src="/assets/Fidelity.png" alt="Fidelity">
                  <img src="/assets/Allianz-Global-Investors-Logo.svg.png" alt="Allianz Global">
                  <img src="/assets/axa.png" alt="Axa">
                  <img src="/assets/anima.png" alt="Anima">
                  <img src="/assets/aviva.png" alt="aviva">
              </div>
          </div>    
      </div>
  </div>

  <div class="extendWrapper">
  <div class="container">
      <div class="row">
          <div class="col-md-4">Copyright © 2017 IWBank S.p.A.</div>
          <div class="col-md-4 text-center"></div>
          <div class="col-md-4 text-right">
              <a href="https://www.iwbank.it/privacy" target="_blank">Privacy</a>
              <!-- a href="http://www.ubibanca.it/pagine/Home-IT.aspx" target="_blank"><img src="img/logo-footer.png"></a --></div>
      </div>    
  </div>

  </div>  
</footer>