%footer
  .extendWrapper.loghi
    .container
      .row
        .col-md-12
          %small In collaborazione con:
          %br/
          %img{:alt => "Pictet", :src => "/assets/Pictet.png"}/
          %img{:alt => "Alessia", :src => "/assets/Alessia.png"}/
          %img{:alt => "Fidelity", :src => "/assets/Fidelity.png"}/
          %img{:alt => "Allianz Global", :src => "/assets/Allianz-Global-Investors-Logo.svg.png"}/
          %img{:alt => "Axa", :src => "/assets/axa.png"}/
          %img{:alt => "Anima", :src => "/assets/anima.png"}/
          %img{:alt => "aviva", :src => "/assets/aviva.png"}/
  .extendWrapper
    .container
      .row.footer-link
        .col-md-4 Copyright © 2017 IWBank S.p.A.
        .col-md-6.text-right
        .col-md-2.text-right
          %a{:href => "https://www.iwbank.it/privacy", :target => "_blank"} Privacy
          / a href="http://www.ubibanca.it/pagine/Home-IT.aspx" target="_blank"><img src="img/logo-footer.png"></a