%nav.navbar.navbar-default.navbar-fixed-top{:style => "opacity: 1;"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        %img{:src => "/assets/to-the-top.png"}/
    - if current_user.present?
      #navbar.navbar-collapse.collapse
        %ul#menu.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/regolamento"} REGOLAMENTO
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "tr", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
              CLASSIFICHE
              %span.caret
            %ul.dropdown-menu
              - charts = current_user.user_groups.map{|ug| ug.charts}.flatten
              - charts.each do |chart|
                %li
                  = link_to chart.name, chart_path(chart.name)
                  - unless chart == charts.last
                    %li.divider{:role => "separator"}
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "tr", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
              DESTINAZIONI
              %span.caret
            %ul.dropdown-menu
              -cities = City.all
              - cities.each do |city|
                %li
                  = link_to city.name, city_path(name: city.name)
                - unless city == cities.last
                  %li.divider{:role => "separator"}
          %li= link_to 'Logout', sign_out_path
      / /.nav-collapse