<nav class="navbar navbar-default navbar-fixed-top" style="opacity: 1;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/to-the-top.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" id="menu">
            <li><a href="/classifiche">CLASSIFICHE</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="tr">DESTINAZIONI<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/parigi_londra">PARIGI - LONDRA</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="newyork.html">NEW YORK</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="tokyo.html">TOKYO</a></li>
              </ul>
            </li>
            <li><a href="/criteri_di_partecipazione">CRITERI DI PARTECIPAZIONE</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<script type="text/javascript">
  $(".dropdown-toggle").on('click',function() {
    if ($(".dropdown").hasClass('open')){
      $(".dropdown").removeClass('open')
      console.log("true")
    }else{
      $(".dropdown").addClass('open')
    }
  })
</script>